:root {
  --primary-color: #fd0303;
  --primary-font: "Varela Round, sans-serif";
}

body {
  margin: 0;
  font-family: var(--primary-font);
}

/* .main-nav {
  background-color: var(--primary-color);
  padding: 1rem;
  border-bottom: 1px solid black;
} */
/* 
.main-nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
} */
/* 
.nav-link a {
  color: white;
  display: inline;
  margin: 10px;
  text-decoration: none;
} */

.nav-link a:hover {
  text-decoration: underline;
}

nav .nav-wrapper {
  background-color: white;
  height: 315% !important;
}


.col {
  color: black;
}

.brand-logo {
  width: 18%;
}


#modal1 {
background-color: red;
}

.collapsible-body {
background-color: white;
}
