:root {
  --primary-color: #fd0303;
  --primary-font: "Varela Round, sans-serif";
}

body {
  margin: 0;
  font-family: var(--primary-font);
}


.nav-link a:hover {
  text-decoration: underline;
}

nav .nav-wrapper {
  background-color: white;
}


.col {
  color: black;
}

.brand-logo {
  width: 18%;
}


#modal1 {
background-color: red;
}

.collapsible-body {
background-color: white;
}
