.body {
  background-color: red;
  line-height: 1.6;
  font-family: "Varela Round", sans-serif;
}


h1 {
  color: white;
  margin-top: 12%;
}

.deck {
  max-width: 22rem !important;
}

#diamonds {
  transform: rotate(20deg);
  margin-top: -7%;
}

#spades {
  transform: rotate(-20deg);
}

.hand {
  max-width: 92%;
  margin-top: 25%;
}

.col.s12.m12.l6.left-align {
  color: white;
}

i {
  color: white;
}

input {
  color: white;
}

button {
  padding: 10px;
  background-color: white;
  margin: 10px;
}